<nav class="navbar navbar-dark fixed-to-top">
	<div class="container">
		<h1 class="navbar-logo">
			<a href="#" class="site-logo">Priyesh Tungare</a>
		</h1>
		<button type="button" class="navbar-toggle js-navbar-toggle">
			<span class="navbar-toggle-icon">=</span>
		</button>
		<div class="nav">
			<ul class="navbar-list">
				<li class="navbar-list--item">
					<a href="#" class="navbar-link">About</a>
				</li>
				<li class="navbar-list--item">
					<a href="#" class="navbar-link">Portfolio</a>
				</li>
				<li class="navbar-list--item">
					<a href="#" class="navbar-link">Articles</a>
				</li>
				<li class="navbar-list--item">
					<a href="#" class="navbar-link">Contact</a>
				</li>
				<li class="navbar-list--item">
					<a href="#" class="navbar-link">Resume</a>
				</li>
			</ul>
	</div>
</nav>